body {
    font-family: "Karla", sans-serif;
    background-color: #fff;
    min-height: 100vh;
    font-size: 14px !important;
}
.bold{
    font-weight: bold;
}
.list-group-item{
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
}
#desktop-menu-btn{
    cursor: pointer;
}

.form-control{
    background-color:transparent;
}
.page-wrapper {
    margin-left: 44px;
    padding: 76px 6px 0px 6px;
    background: #f0f4f5;
    min-height: 98vh;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
}   
.clearfix {
    overflow: hidden;
    clear: both;
    float: none;
}
footer p {
    display: block;
    font-size: 12px;
    line-height: 40px;
}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, .error-comment, h4, h5, h6, .panel-title, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.mr-20 {
    margin-right: 20px !important;
}
.navbar.navbar-inverse.navbar-fixed-top {
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
    margin-bottom: 0;
    min-height: 66px;
    padding: 0 15px 0 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #fff;

    .brand-img {
        margin-right: 10px;
        position: relative;
        top: 2px;
    }
    .nav-header {
        width: 226px;
        padding-left: 15px;
        height: 66px;
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        transition: 0.4s ease;
        overflow: hidden;
    }
    .logo-wrap {
        width: 226px;
        padding-top: 10px;
    }
  
    .brand-text {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        color: #212121;
        font-size: 25px;
        text-transform: capitalize;
        opacity: 1;
        visibility: visible;
    }
    a.toggle-left-nav-btn, a#toggle_mobile_nav, a#toggle_mobile_search {
        color: #878787;
        position: relative;
        line-height: 66px;
    }
    .top-nav-search {
        padding-top: 14px;
        width: 320px;
        margin-left: 25px;
    }
    .top-nav-search .input-group input {
        border-radius: 50px;
        height: 36px;
        background: #fff;
        padding-right: 30px;
    }   
    .search-icon-set{
        margin: auto;
        position: relative;
        right: 29px;
        z-index: 3;
    }
   
  
    .nav-link {
        padding: 1.3rem 0.5rem;
        color: #878787;
    }
    .dropdown-toggle::after{
        content: none;
    }
    .dropdown-menu{
        top:-2px !important;
    }
    

}
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
// side baar
.fixed-sidebar-left {
    position: fixed;
    top: 66px;
    left: 0;
    width: 225px;
    margin-left: 0;
    bottom: 0;
    z-index: 100;
    border-right: 1px solid rgba(33, 33, 33, 0.1);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    .MuiSvgIcon-root{
        font-size: 1rem !important;
    }
    .side-nav {
        border: none;
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: 0;
        margin: 0;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: #fff;
        backface-visibility: hidden;
        display: block;
    }

    .slimScrollDiv{
        position: relative; overflow: hidden; width: auto; height: 100%;
    }
    .side-nav li.navigation-header  span {
        color: #dc0030;
        display: block;
        padding: 11px 15px;
    }
    .side-nav li.navigation-header  i {    
        display: none;
        padding: 11px 15px;
    }

    .side-nav {
        background: #fff;
        li.navigation-header > span, .fixed-sidebar-left .side-nav li.navigation-header > i {
            display: block;
            padding: 11px 15px;
        }
    }
    .side-nav li {
        width: 225px;
      
        a{
            color: #212121;
            padding: 7px 15px;
            width: 100%;
            text-transform: capitalize;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            transition: 0.3s ease;
            position: relative;
            display: block;
            padding: 10px 15px;
        }

        a.active {
            background-color: #dc0030;
            color:#fff;
        }
        li a.active-page {
            background: rgba(33, 33, 33, 0.05);
        }
        ul > li a {
            padding: 7px 15px 7px 51px;
            display: block;
            color: #878787;
        }
    }
   
     
}

//Media for desktop Query//
@media screen and (min-width: 1024px){
.mobile-only-nav.collapse, .navbar.navbar-inverse.navbar-fixed-top .top-nav-search.collapse {
    display: block;
    height: auto !important;
}
}
@media screen and (max-width: 1400px) {
    
     .fixed-sidebar-left {
        width: 44px;
        .right-nav-text {
            opacity: 0;
        }
        
        .side-nav{
            li.navigation-header  i {
                display: block;
                padding: 11px 15px;
            }
            li.navigation-header  span {
                display: none;
            }
        }
        .show {
            display: none;
        }
    }



    .fixed-sidebar-left:hover {
        width: 224px;
       
        .right-nav-text {
            opacity: 1;
        }
        .show {
           display: block;
        }
        .side-nav{
            li.navigation-header  i {
                display: none;
                
            }
            li.navigation-header  span {
                display: block;
                padding: 11px 15px;
            }
        }
    }
}

//Media for desktop Query//
@media screen and (max-width: 1024px) {
    .list-group-item {
        padding:0.75rem 0.25rem;
    }
    .navbar.navbar-inverse.navbar-fixed-top{
        background: #fff;
        position: fixed;
        z-index: 2;
        padding: 0px;

        
        .nav-header {
            padding-left: 0;
            text-align: center;
            width: 100%;
        }
        .logo-wrap {
            text-align: center;
            width: 100%;
            .top-nav-search .input-group input {
                border-radius: 0;
                height: 66px;
                border: medium none;
            }
        }
        a.toggle-left-nav-btn {
            left: 1px;
            position: absolute;
            top: 0;
        }
        a#toggle_mobile_search {
            position: absolute;
            right: 50px;
            top: 0;
        }
        a#toggle_mobile_nav {
            position: absolute;
            right: 21px;
            top: 0;
        }
        .top-nav-search {
            left: 0;
            margin-left: 0;
            position: absolute;
            width: 100%;
            padding-top: 0;
            top:0px;
            .input-group input {
                border-radius: 0;
                height: 66px;
                border: medium none;
            }
            .input-group-btn{
                display: grid; 
                background: #fff; 
            }
        }
        .mobile-only-nav {
            top: 66px;
            background: #f5f5f5;
            
                float: left;
                width: 100%;
                -webkit-transition: 0.4s ease;
                -moz-transition: 0.4s ease;
                transition: 0.4s ease;
                position: absolute;
                left: 0;
                top: 0;
                background: #fff;
                padding: 0 15px;
                border-bottom: 1px solid rgba(33, 33, 33, 0.1);
            
        }
    }

    .page-wrapper {
        margin-left: 0px;
              
    }   

    .fixed-sidebar-left {
        width:224px;
        left:-225px;
         
        .right-nav-text {
            opacity: 1;
        }
        .show {
           display: block;
        }
        .side-nav{
            li.navigation-header  i {
                display: none;
                
            }
            li.navigation-header  span {
                display: block;
            }
        }
    }
    

}
